@font-face {
    font-family: Coolvetica;
    src: url(/fonts/coolvetica-rg.otf);
}
:root{
    padding: 0;
    margin: 0;
}

body{
    background:#696969;
    font-family: Coolvetica;
}

h1{
    text-align: center;
}
.flexContainer{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 20px;
}
.gridContainer{
    display: grid;
    width: 500px;
    height: 500px;
}
.gridChild{
    background-color: azure;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}
.x-axisButtons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top:10px;
    gap: 10px;
    align-items: center;
}

.menu > input{
    align-self: center;
}
#color-selector{
    width: 100px;
}

button{ 
    display: inline-block;
    outline: 0;
    appearance: none;
    padding: 0px 12px;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    background-color: rgb(249, 251, 250);
    border: 1px solid rgb(137, 151, 155);
    box-shadow: rgb(6 22 33 / 30%) 0px 1px 2px;
    color: rgb(61, 79, 88);
    font-size: 14px;
    font-weight: 400;
    height: 36px;
    transition: all 150ms ease-in-out 0s;
}
button:hover {
    color: rgb(61, 79, 88);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(93, 108, 116);
    box-shadow: rgb(0 0 0 / 30%) 0px 4px 4px, rgb(231 238 236) 0px 0px 0px 3px;
}
